<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coupon.api.mapper.CouponStatDOMapper" >
  <resultMap id="BaseResultMap" type="com.coupon.api.entity.CouponStatDO" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="write_off" property="writeOff" jdbcType="INTEGER" />
    <result column="un_write_off" property="unWriteOff" jdbcType="INTEGER" />
    <result column="coupon_total" property="couponTotal" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="generate" >
      update coupon_stat set un_write_off = un_write_off+#{num},coupon_total=coupon_total+#{num}
      where
       business_code=#{couponStat.businessCode}
       and channel_code=#{couponStatchannelCode.}
       and coupon_type=#{couponStat.couponType}
  </update>
    <update id="distribute" >
      update coupon_stat set un_write_off = un_write_off-#{num},coupon_total=coupon_total-#{num}
      where
       business_code=#{couponStat.businessCode}
       and channel_code=#{couponStatchannelCode.}
       and coupon_type=#{couponStat.couponType}
  </update>
  <update id="writeOff">
     update coupon_stat set un_write_off = un_write_off-#{num},write_off = write_off+#{num}
          where
           business_code=#{couponStat.businessCode}
           and channel_code=#{couponStatchannelCode.}
           and coupon_type=#{couponStat.couponType}
  </update>
</mapper>