<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coupon.api.mapper.CouponDOMapper" >
  <resultMap id="BaseResultMap" type="com.coupon.api.entity.CouponDO" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coupon" property="coupon" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="write_off_account" property="writeOffAccount" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="baseColumn">
    `id`, `coupon`, `coupon_type`,`price`,`channel_code`,`business_code`,`status`,`end_time`,`write_off_account`,`create_time`,`update_time`
  </sql>



  <select id="queryList" resultType="com.coupon.api.dto.CouponDTO" parameterType="com.coupon.api.entity.CouponDO">
    select <include refid="baseColumn"/>  from `business`
    <include refid="sqlWhere"/>
    order by `create_time` desc
    <if test="pageIndex != null and pageSize != null">
      limit #{pageIndex}, #{pageSize}
    </if>

  </select>
  <select id="queryCount" parameterType="com.coupon.api.entity.CouponDO" resultType="int">
    SELECT count(*) from `business`
    <include refid="sqlWhere"/>
  </select>

  <sql id="sqlWhere">
    <where>
      <if test="id != null ">and id = #{id}</if>
      <if test="coupon != null and coupon != ''">and coupon = #{coupon}</if>
      <if test="coupon_type != null and coupon_type != ''">and coupon_type = #{coupon}</if>
      <if test="channel_code != null and channel_code != ''">and channel_code = #{coupon}</if>
      <if test="business_code != null and business_code != ''">and business_code = #{coupon}</if>
      <if test="write_off_account != null and write_off_account != ''">and write_off_account = #{writeOffAccount}</if>
      <if test="end_time != null and end_time != ''">and end_time = #{coupon}</if>
      <if test="status != null ">and `status` = #{status}</if>
      <if test="price != null ">and `price` = #{price}</if>
      <if test="startCreateTime != null and startCreateTime != ''">and   `create_time` <![CDATA[>=]]>#{startCreateTime,jdbcType=TIMESTAMP} </if>
      <if test="endCreateTime != null and endCreateTime != ''">and    `create_time`<![CDATA[<=]]>#{endCreateTime,jdbcType=TIMESTAMP}</if>
    </where>
  </sql>


</mapper>