<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coupon.api.mapper.OauthTokenDOMapper" >
  <resultMap id="BaseResultMap" type="com.coupon.api.entity.OauthTokenDO" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="expired" property="expired" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="baseColumn" >
    `id`, `token`, `account`, `expired`, `status`, `create_time`, `update_time`
  </sql>

  <select id="selectByToken" resultType="com.coupon.api.entity.OauthTokenDO" >
      select <include refid="baseColumn"/>  from  oauth_token
      where  token = #{token} and expired>=#{nowTime}


  </select>
</mapper>